<?xml version="1.0" encoding="UTF-8"?>

<module configVersion="1.6">
	
	<!-- Base Module Properties -->
	<id>${project.parent.artifactId}</id>
	<name>${project.parent.name}</name>
	<version>${project.parent.version}</version>
	<package>org.openmrs.module.kenyaemriniz</package>
	<author>Mekom Solutions Inc.</author>
	<description>
			${project.parent.description}
	</description>

	<activator>org.openmrs.module.kenyaemriniz.KenyaEmrIniz</activator>
	
	<!-- <updateURL>https://modules.openmrs.org/modules/download/@MODULE_ID@/update.rdf</updateURL> -->
	<!-- /Base Module Properties -->
	
	<require_version>${openmrsPlatformVersion}</require_version>
	<require_modules>
		<require_module>org.openmrs.module.initializer</require_module>
	</require_modules>
	<start_before_modules>
		<module>org.openmrs.module.kenyaemr</module>
	</start_before_modules>

	
	<!-- Internationalization -->
	<!-- All message codes should start with @MODULE_ID@.* -->
	<messages>
		<lang>en</lang>
		<file>messages.properties</file>
	</messages>
	<messages>
		<lang>fr</lang>
		<file>messages_fr.properties</file>
	</messages>
	<messages>
		<lang>es</lang>
		<file>messages_es.properties</file>
	</messages>
	<!-- /Internationalization -->

</module>

